@import "tailwindcss";

@theme {
  --color-brand: #3b82f6;
}

:root {
  background-color: #0a0a0a;
  color: white;
}

body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}
