@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: #0a0a0a;
  color: #ffffff;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}