@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}
