@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0a;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
