@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 10px;
  min-height: 100vh;
  box-sizing: border-box;
}

#root {
  height: calc(100vh - 20px);
}
